.test {
    width: 200px;
    height: 200px;
    background-color: aquamarine;
}

.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    height: 293px;
}

.header__menu {
    margin-left: 50px;
    font-size: 18px;
}

.header__links-list {
    display: flex;
    gap: 31px;
    list-style-type: circle;
}

.header__links-list-item--no-bullit {
    list-style: none;
}

.header__logo {
    display: block;
}

.header__logo--size {
    width: 148px;
    height: 105px;
}

.header__address {
    max-width: 240px;
    justify-self: end;
    margin-right: 50px;
    line-height: 24.3px;
    font-size: 18px;
}

.cover {
    position: relative;
    height: 757px;
    background-image: url(../images/cover.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.cover__title {
    position: absolute;
    z-index: 2;
    display: block;
    inset: 165px 50px 207px 50px;
    width: 1000px;
    height: 385px;
    color: #fff;
    font-size: 100px;
    font-weight: 700;
    line-height: 115px;
    letter-spacing: 0.3em;
}

.cover__description {
    position: absolute;
    display: flex;
    flex-direction: row;
}

.cover__description-text {
    position: absolute;
    z-index: 2;
    text-transform: uppercase;
    color: #fff;
    font-size: 22px;
    word-spacing: 0.9em;
}

.bet-button {
    position: absolute;
}

.no-letter-spacing {
    letter-spacing: 0;
}

.aligned-text {
    display: block;
    margin-bottom: 20px;
}

.aligned-text__center {
    text-align: center;
}

.aligned-text__right {
    text-align: right;
}


.overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #000;
    opacity: 0.6;
    z-index: 1;
}




.lots {

}

.about {

}